body
{
    text-align: center;
}

#mar{
    
 background-color: aqua;   

}

#Achievements1{
  padding-bottom: 10px;
    
}

.movie_head{
 font-size: 20px;  
padding: 6px 22px;    
border-radius: 10px;
   margin-bottom: 15px
       width:100%;
    display: inline-block;
}

.environment_li{
 margin-top: 20px;   

}

.environment_li h1 {
 border-bottom: 5px solid #ebba34;   
   padding: 8px ;
}

.environment_li img {
border-radius:25px; 
}

.environment_li p{
  margin-top: 10px; 